<button routerLink="/pokedex" class="button">
  <svg width="20" height="20" stroke="currentColor" stroke-width="2">
    <path d="M10 19l-7-7m0 0l7-7m-7 7h18"/>
  </svg>
  Go back
</button>

<div class="pokemon-container">
<div id="container">
  <div class="pokemon-image">
    <img src="{{ fields.sprites?.other.dream_world.front_default }}" alt="{{ fields.name }}"/>
  </div>
  <div class="pokemon-details">
    <h2 class="pokemon-title">{{ fields.name }} #{{getNumbers()}}</h2>
    <ul >
      <li *ngFor="let charts of fields.types; let i = index" >
      <strong>Type-{{i+1}}: </strong>
      <u class="type-text" [ngStyle]="{ 'background-color': getTypesColors(fields.types[i].type.name) }">{{ fields.types[i].type.name }}</u></li>
      <li><strong>Height: </strong>{{ fields.height }}"</li>
      <li><strong>Weight: </strong>{{ fields.weight }} lbs</li>
      <li><strong>Description: </strong>{{species?.flavor_text_entries[0].flavor_text}}</li>
    </ul>
  </div> 
</div>
</div>

<div class="pokemon-stats">
  <dl class="border">
    <dd *ngFor="let charts of fields.stats; let i = index"
    class="percentage percentage-{{fields.stats[i].base_stat}}">
      <span class="stats-text"><strong>{{fields.stats[i].stat.name}}:</strong>{{fields.stats[i].base_stat}}</span>
    </dd>
  </dl>
</div>

<div>
  <h4 class="pokemon-evolution-title">EVOLUTIONS</h4>
  <div class="pokemon-evolution">
    <div *ngFor="let evolution of pokemon.evolutions; let i = index">
      <img class="pokemon-rounded" src="{{pokemon.evolutions[i].image}}" alt="{{pokemon.evolutions[i].name}}" (click)="goToPokemonProfile(pokemon.evolutions[i].id)">
      <img *ngIf="i<pokemon.evolutions.length-1" class="pokemon-arrow" src="../../../assets/angle-right-solid.svg" height="60">
      <h4 class="pokemon-name">{{pokemon.evolutions[i].name}} #{{pokemon.evolutions[i].id}}</h4>
    </div>
  </div>
</div>