body {
  padding: 4px;
}

.navBar {
  display: flex;
  justify-content: right;
  align-items: right;
  background-color: #082040;
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn-primary {
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 5px;
  background-color: #e91e63;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 8px;
}

.btn-primary:hover {
  background-color: #c941c9;
}
