.pokemon {
  gap: 40px;
  grid-area: card;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.pokemon-card-full {
  border-radius: 8px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  text-align: center;
  width: 240px;
  cursor: pointer;
}

.pokemon-card {
  border-radius: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.pokemon-name {
  text-transform: uppercase;
  -webkit-text-stroke: 0.4px #c0bccf;
}

.pokemon-img {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  text-align: center;
}

img {
  max-width: 100%;
}

.blur {
  filter: blur(14px);
}