<div class="pokemon" [ngClass]="{ blur: loading }">
  <div class="pokemon-card-full" *ngFor="let pokemon of pokemonData; let i = index" (click)="goToPokemonProfile(pokemon)">
    <div class="pokemon-card" [ngStyle]="{ 'background-color': getBackgroundColors(pokemon) }">
      <img class="pokemon-img" [src]="getImages(pokemon)" />
      <h2 class="pokemon-name">
        #{{ getNumbers(pokemon) }} {{ pokemon.name }}
      </h2>
    </div>
  </div>
  <not-found-card *ngIf="pokemonData.length == 0"></not-found-card>
</div>
