<form class="form-group" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <h2>ADD NEW POKEMON</h2>
  <div>
    <mat-form-field appearance="outline" hintLabel="Max 3 characters">
      <mat-label for="pokemon-number">Number</mat-label>
      <input
        type="text"
        id="pokemon-number"
        formControlName="pokemonNumber"
        matInput
        placeholder="Pókemon Number"
        #input1
        maxlength="3"
      />
      <mat-hint align="end">{{ input1.value?.length || 0 }}/3</mat-hint>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline" hintLabel="Max 20 characters">
      <mat-label for="pokemon-name">Name</mat-label>
      <input
        type="text"
        id="pokemon-name"
        formControlName="pokemonName"
        matInput
        placeholder="Pókemon Name"
        #input2
        maxlength="20"
      />
      <mat-hint align="end">{{ input2.value?.length || 0 }}/20</mat-hint>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline" hintLabel="Max 20 characters">
      <mat-label for="pokemon-type">Color Hash</mat-label>
      <input
        type="text"
        id="pokemon-type"
        formControlName="pokemonType"
        matInput
        placeholder="Pókemon Color Hash"
        #input3
        maxlength="20"
      />
      <mat-hint align="end">{{ input3.value?.length || 0 }}/20</mat-hint>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline" hintLabel="Max 70 characters">
      <mat-label for="pokemon-imgLink">Img Link</mat-label>
      <input
        type="text"
        id="pokemon-imgLink"
        formControlName="pokemonImgLink"
        matInput
        placeholder="Pókemon Img Link"
        #input4
        maxlength="70"
      />
      <mat-hint align="end">{{ input4.value?.length || 0 }}/70</mat-hint>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline" hintLabel="Max 50 characters">
      <mat-label for="pokemon-description">Description</mat-label>
      <input
        type="text"
        id="pokemon-description"
        formControlName="pokemonDescription"
        matInput
        placeholder="Pókemon Description"
        #input5
        maxlength="50"
      />
      <mat-hint align="end">{{ input5.value?.length || 0 }}/50</mat-hint>
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary" type="submit" [disabled]="!profileForm.valid" (click)="saveData()">
    Submit
  </button>
</form>
<div class="show-pokemons">
  <button mat-raised-button color="primary" (click)="loadData()">
    Show Pókemon
  </button>
</div>
<div class="pokemon" *ngIf="pokemons">
  <div class="pokemon-card-full" *ngFor="let pokemon of pokemons; let i = index">
    <div class="pokemon-card" [ngStyle]="{'background-color': pokemons[i].pokemonType}">
      <img class="pokemon-img" src="{{pokemons[i].pokemonImgLink}}" alt="{{pokemons[i].pokemonName}}" />
      <h2 class="pokemon-name">#{{pokemons[i].pokemonNumber}} {{ pokemons[i].pokemonName }}</h2>
    </div>
  </div>
</div>
<br />
